# Ignore node_modules directory
node_modules/

# Ignore build directory
dist/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore compiled files
*.class
*.jar
*.war

# Ignore IDE specific files
.idea/
.vscode/

*.pem